@page "/"
    <div class="container">
        <div class="separador-menus-index">Operación</div>
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-narrow">
                <div class="tarjeta-acceso">
                    <a href="venta/inicio"></a>
                    <div class="icon-area">
                        <i class="fas fa-comments-dollar fa-2x"></i>
                    </div>
                    <div class="text-area">
                        <span>Venta</span>
                    </div>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="tarjeta-acceso">
                    <a href="cobro/inicio"></a>
                    <div class="icon-area">
                        <i class="fas fa-hand-holding-usd fa-2x"></i>
                    </div>
                    <div class="text-area">
                        <span>Cobro</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="separador-menus-index">Resumen</div>
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-narrow">
                <div class="tarjeta-acceso">
                    <a href="cobro/resumen"></a>
                    <div class="icon-area">
                        <i class="fas fa-file fa-2x"></i>
                    </div>
                    <div class="text-area">
                        <span>Resumen Cobro</span>
                    </div>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="tarjeta-acceso">
                    <a href="venta/resumen"></a>
                    <div class="icon-area">
                        <i class="fas fa-tachometer-alt fa-2x"></i>
                    </div>
                    <div class="text-area">
                        <span>Resumen Venta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
