USE [CONDOR_DEV]
GO
/****** Object:  Table [dbo].[TBL_CARTERAS]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARTERAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CARTERA] [varchar](255) NOT NULL,
	[ID_COBRADOR] [varchar](255) NULL,
	[ID_VENDEDOR] [varchar](255) NULL,
	[ID_SUPERVISOR] [varchar](255) NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIA_VENDEDORES]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIA_VENDEDORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [varchar](255) NULL,
	[PORCENTAJE_COMISION] [int] NOT NULL,
	[CATEGORIA_VENDEDOR] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CLIENTES]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARTERA] [int] NOT NULL,
	[NOMBRE] [varchar](255) NULL,
	[TELEFONO] [varchar](30) NULL,
	[DIRECCION] [varchar](150) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[URL_IMAGEN] [varchar](400) NULL,
	[CALIFICACION] [varchar](20) NULL,
	[PERIDICIDAD_COBRO] [varchar](30) NOT NULL,
	[FECHA_REGISTRO] [datetime] NULL,
	[ESTADO_PAGOS] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MERCADERIAS]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MERCADERIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[PRECIO_VENTA] [decimal](18, 2) NULL,
	[PRECIO_COMPRA] [decimal](18, 2) NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
	[CANTIDAD_STOCK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MERCADERIAS_RETIROS]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MERCADERIAS_RETIROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MERCADERIA] [int] NOT NULL,
	[ID_PRODUCTO_CLIENTE] [int] NULL,
	[ES_VENDIBLE] [bit] NOT NULL,
	[OBSERVACIONES] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO_CLIENTE] [int] NOT NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
	[FECHA_ABONO] [datetime] NOT NULL,
	[ID_COBRADOR] [varchar](255) NULL,
	[ES_INICIAL] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTOS_CLIENTE]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTOS_CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_MERCADERIA] [int] NOT NULL,
	[FECHA_COMPRA] [datetime] NOT NULL,
	[VALOR_COMPRA] [decimal](18, 2) NULL,
	[ANOTACIONES] [varchar](200) NULL,
	[ESTADO_PAGO] [varchar](50) NOT NULL,
	[RETIRADO] [varchar](50) NULL,
	[VALOR_COUTA] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VENTAS]    Script Date: 22/11/2021 11:06:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VENTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO_CLIENTE] [int] NOT NULL,
	[ID_USUARIO_VENDEDOR] [varchar](255) NULL,
	[ESTADO_LIQUIDACION] [bit] NOT NULL,
	[VALOR_LIQUIDADO] [decimal](18, 2) NULL,
	[FECHA_LIQUIDACION] [datetime] NULL,
	[VENTA_RETIRADA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CARTERAS] ON 

INSERT [dbo].[TBL_CARTERAS] ([ID], [NOMBRE_CARTERA], [ID_COBRADOR], [ID_VENDEDOR], [ID_SUPERVISOR], [FECHA_CREACION]) VALUES (1, N'Cartera Sur', N'sdfjskldjfklsdjf', N'skldjflksdjfkl', N'slkdjfslkdjfkl', CAST(N'2021-11-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_CARTERAS] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CLIENTES] ON 

INSERT [dbo].[TBL_CLIENTES] ([ID], [ID_CARTERA], [NOMBRE], [TELEFONO], [DIRECCION], [DESCRIPCION], [URL_IMAGEN], [CALIFICACION], [PERIDICIDAD_COBRO], [FECHA_REGISTRO], [ESTADO_PAGOS]) VALUES (1, 1, N'Josefo Rodriguez', N'78321321', N'Calle Falsa 123', N'Una descripcion', N'contosoImagen', N'A', N'SEMANAL', CAST(N'2021-11-22T00:00:00.000' AS DateTime), N'AL DIA')
INSERT [dbo].[TBL_CLIENTES] ([ID], [ID_CARTERA], [NOMBRE], [TELEFONO], [DIRECCION], [DESCRIPCION], [URL_IMAGEN], [CALIFICACION], [PERIDICIDAD_COBRO], [FECHA_REGISTRO], [ESTADO_PAGOS]) VALUES (3, 1, N'Alfonzo Perez', N'21321231', N'Calle Falsa', N'Descripcion 32', N'AlfnozoImagen', N'B', N'DIARIO', CAST(N'2021-11-22T00:00:00.000' AS DateTime), N'EN MORA')
SET IDENTITY_INSERT [dbo].[TBL_CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MERCADERIAS] ON 

INSERT [dbo].[TBL_MERCADERIAS] ([ID], [NOMBRE], [DESCRIPCION], [ESTADO], [PRECIO_VENTA], [PRECIO_COMPRA], [FECHA_MODIFICACION], [CANTIDAD_STOCK]) VALUES (1, N'Ventilador', N'Ventilador marca samuria', 1, CAST(300.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(N'2021-11-22T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[TBL_MERCADERIAS] ([ID], [NOMBRE], [DESCRIPCION], [ESTADO], [PRECIO_VENTA], [PRECIO_COMPRA], [FECHA_MODIFICACION], [CANTIDAD_STOCK]) VALUES (2, N'Sabanas Dobles', N'Color verde ', 1, CAST(150.00 AS Decimal(18, 2)), CAST(70.00 AS Decimal(18, 2)), CAST(N'2021-11-22T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TBL_MERCADERIAS] ([ID], [NOMBRE], [DESCRIPCION], [ESTADO], [PRECIO_VENTA], [PRECIO_COMPRA], [FECHA_MODIFICACION], [CANTIDAD_STOCK]) VALUES (3, N'Cortinas', N'2 metros alto * 1 metro', 1, CAST(170.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(N'2021-11-22T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[TBL_MERCADERIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTOS_CLIENTE] ON 

INSERT [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID], [ID_CLIENTE], [ID_MERCADERIA], [FECHA_COMPRA], [VALOR_COMPRA], [ANOTACIONES], [ESTADO_PAGO], [RETIRADO], [VALOR_COUTA]) VALUES (1, 1, 1, CAST(N'2021-11-22T00:00:00.000' AS DateTime), CAST(170.00 AS Decimal(18, 2)), N'Casa verde al lado de la tia', N'Al dia', N'0', CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID], [ID_CLIENTE], [ID_MERCADERIA], [FECHA_COMPRA], [VALOR_COMPRA], [ANOTACIONES], [ESTADO_PAGO], [RETIRADO], [VALOR_COUTA]) VALUES (2, 1, 2, CAST(N'2021-10-22T00:00:00.000' AS DateTime), CAST(150.00 AS Decimal(18, 2)), N'Se entrega completo', N'Al dia', N'0', CAST(45.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID], [ID_CLIENTE], [ID_MERCADERIA], [FECHA_COMPRA], [VALOR_COMPRA], [ANOTACIONES], [ESTADO_PAGO], [RETIRADO], [VALOR_COUTA]) VALUES (4, 3, 1, CAST(N'2021-10-22T00:00:00.000' AS DateTime), CAST(170.00 AS Decimal(18, 2)), NULL, N'Al dia', N'0', CAST(10.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTOS_CLIENTE] OFF
GO
ALTER TABLE [dbo].[TBL_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CLIENTES_TBL_CARTERAS] FOREIGN KEY([ID_CARTERA])
REFERENCES [dbo].[TBL_CARTERAS] ([ID])
GO
ALTER TABLE [dbo].[TBL_CLIENTES] CHECK CONSTRAINT [FK_TBL_CLIENTES_TBL_CARTERAS]
GO
ALTER TABLE [dbo].[TBL_MERCADERIAS_RETIROS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MERCADERIAS_RETIROS_TBL_MERCADERIAS] FOREIGN KEY([ID_MERCADERIA])
REFERENCES [dbo].[TBL_MERCADERIAS] ([ID])
GO
ALTER TABLE [dbo].[TBL_MERCADERIAS_RETIROS] CHECK CONSTRAINT [FK_TBL_MERCADERIAS_RETIROS_TBL_MERCADERIAS]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTO_CLIENTE_ABONOS_TBL_PRODUCTOS_CLIENTE] FOREIGN KEY([ID_PRODUCTO_CLIENTE])
REFERENCES [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS] CHECK CONSTRAINT [FK_TBL_PRODUCTO_CLIENTE_ABONOS_TBL_PRODUCTOS_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE] CHECK CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_CLIENTES]
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_MERCADERIAS] FOREIGN KEY([ID_MERCADERIA])
REFERENCES [dbo].[TBL_MERCADERIAS] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE] CHECK CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_MERCADERIAS]
GO
ALTER TABLE [dbo].[TBL_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_VENTAS_TBL_PRODUCTOS_CLIENTE] FOREIGN KEY([ID_PRODUCTO_CLIENTE])
REFERENCES [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_VENTAS] CHECK CONSTRAINT [FK_TBL_VENTAS_TBL_PRODUCTOS_CLIENTE]
GO
