USE [CONDOR_DEVELOP]
GO
/****** Object:  Table [dbo].[TBL_CARTERAS]    Script Date: 22/12/2021 10:08:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARTERAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CARTERA] [varchar](255) NOT NULL,
	[ID_COBRADOR] [varchar](255) NULL,
	[ID_VENDEDOR] [varchar](255) NULL,
	[ID_SUPERVISOR] [varchar](255) NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIA_VENDEDORES]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIA_VENDEDORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [varchar](255) NULL,
	[PORCENTAJE_COMISION] [int] NOT NULL,
	[CATEGORIA_VENDEDOR] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIAS_MERCADERIA]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIAS_MERCADERIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CLIENTES]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARTERA] [int] NOT NULL,
	[NOMBRE] [varchar](255) NULL,
	[TELEFONO] [varchar](30) NULL,
	[DIRECCION] [varchar](150) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[URL_IMAGEN] [varchar](400) NULL,
	[CALIFICACION] [varchar](20) NULL,
	[PERIDICIDAD_COBRO] [varchar](30) NOT NULL,
	[FECHA_REGISTRO] [datetime] NULL,
	[ESTADO_PAGOS] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MERCADERIAS]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MERCADERIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[PRECIO_VENTA] [decimal](18, 2) NULL,
	[PRECIO_COMPRA] [decimal](18, 2) NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
	[CANTIDAD_STOCK] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MERCADERIAS_RETIROS]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MERCADERIAS_RETIROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MERCADERIA] [int] NOT NULL,
	[ID_PRODUCTO_CLIENTE] [int] NULL,
	[ES_VENDIBLE] [bit] NOT NULL,
	[OBSERVACIONES] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO_CLIENTE] [int] NOT NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
	[FECHA_ABONO] [datetime] NOT NULL,
	[ID_COBRADOR] [varchar](255) NULL,
	[ES_INICIAL] [bit] NOT NULL,
	[RECIBIDO_ADMIN] [bit] NOT NULL,
	[FECHA_RECIBIDO_ADMIN] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTOS_CLIENTE]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTOS_CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_MERCADERIA] [int] NOT NULL,
	[FECHA_COMPRA] [datetime] NOT NULL,
	[VALOR_COMPRA] [decimal](18, 2) NULL,
	[ANOTACIONES] [varchar](200) NULL,
	[ESTADO_PAGO] [varchar](50) NOT NULL,
	[RETIRADO] [varchar](50) NULL,
	[VALOR_COUTA] [decimal](18, 2) NULL,
	[FECHA_ULTIMO_ABONO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VENTAS]    Script Date: 22/12/2021 10:08:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VENTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO_CLIENTE] [int] NOT NULL,
	[ID_USUARIO_VENDEDOR] [varchar](255) NULL,
	[ESTADO_LIQUIDACION] [bit] NOT NULL,
	[VALOR_LIQUIDADO] [decimal](18, 2) NULL,
	[FECHA_LIQUIDACION] [datetime] NULL,
	[VENTA_RETIRADA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CLIENTES_TBL_CARTERAS] FOREIGN KEY([ID_CARTERA])
REFERENCES [dbo].[TBL_CARTERAS] ([ID])
GO
ALTER TABLE [dbo].[TBL_CLIENTES] CHECK CONSTRAINT [FK_TBL_CLIENTES_TBL_CARTERAS]
GO
ALTER TABLE [dbo].[TBL_MERCADERIAS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MERCADERIAS_TBL_CATEGORIAS_MERCADERIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[TBL_CATEGORIAS_MERCADERIA] ([ID])
GO
ALTER TABLE [dbo].[TBL_MERCADERIAS] CHECK CONSTRAINT [FK_TBL_MERCADERIAS_TBL_CATEGORIAS_MERCADERIA]
GO
ALTER TABLE [dbo].[TBL_MERCADERIAS_RETIROS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MERCADERIAS_RETIROS_TBL_MERCADERIAS] FOREIGN KEY([ID_MERCADERIA])
REFERENCES [dbo].[TBL_MERCADERIAS] ([ID])
GO
ALTER TABLE [dbo].[TBL_MERCADERIAS_RETIROS] CHECK CONSTRAINT [FK_TBL_MERCADERIAS_RETIROS_TBL_MERCADERIAS]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTO_CLIENTE_ABONOS_TBL_PRODUCTOS_CLIENTE] FOREIGN KEY([ID_PRODUCTO_CLIENTE])
REFERENCES [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO_CLIENTE_ABONOS] CHECK CONSTRAINT [FK_TBL_PRODUCTO_CLIENTE_ABONOS_TBL_PRODUCTOS_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE] CHECK CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_CLIENTES]
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_MERCADERIAS] FOREIGN KEY([ID_MERCADERIA])
REFERENCES [dbo].[TBL_MERCADERIAS] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTOS_CLIENTE] CHECK CONSTRAINT [FK_TBL_PRODUCTOS_CLIENTE_TBL_MERCADERIAS]
GO
ALTER TABLE [dbo].[TBL_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_VENTAS_TBL_PRODUCTOS_CLIENTE] FOREIGN KEY([ID_PRODUCTO_CLIENTE])
REFERENCES [dbo].[TBL_PRODUCTOS_CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TBL_VENTAS] CHECK CONSTRAINT [FK_TBL_VENTAS_TBL_PRODUCTOS_CLIENTE]
GO
